{% extends "../layout/base.html" %}

{% block 'title' %}{{ section }}{% endblock 'title' %}

{% block 'content' %}
<!-- {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="alert alert-seccess">
        {% endif %}{{ message }}
    </li>

    {% endfor %}
</ul>
{% endif %} -->
<span class="aux-btn btn-view">
    <a class="btn btn-back" href="{% url 'contact' %}">
        Volver atrás
    </a>
</span>
<form class="container" action="{% url 'contact_edit' id=id %}" method="POST">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>

    <input type="submit" value="enviar" class="btn btn-submit" />
</form>
{% endblock 'content' %}